<h1> Form </h1>
<form action="/named-cat" method="post">
  Name: <input type="text" name="name" autofocus="autofocus" >
  <!--Age: <input type="number" name="age">-->
  <input type="submit" value="Submit">
</form>
